@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Berkshire+Swash&family=Besley:ital,wght@0,400..900;1,400..900&family=Libre+Barcode+128+Text&family=Love+Ya+Like+A+Sister&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Modern+Antiqua&display=swap');

@font-face {
    font-family: 'hindi';
    src: url('./assets/AkashaItalic-BWDd8.ttf');
}

@font-face {
    font-family: 'my desh matra';
    src: url('./assets/MyhindiHindigyan-GW1a.ttf');
}

html,body{
    margin: 0;
}

/* CONTAINER STYLING */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
    line-height: 1.5;
}

/* HEADER STYLING */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header > img{
    object-fit: cover;
    width: 60%;
    display: block;
    height: 50px;
    margin-top: 2em;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style: none;
    font-family: 'hindi';
    font-weight: 400;
    font-size: 2.4rem;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul>li{
    cursor: pointer;
}

/* SECTION ONE STYLING */

.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one > h1{ 
    font-size: 3.5rem;
    margin-top: 0;
}

.sec-head-one{
    font-family: 'hindi';
    font-weight: 400;
    margin-left: 0.25em;
}

.sec-head-two{
    font-family: 'hindi';
    font-weight: 400;
    margin-left: 0.25em;
}

.gif-one{
    background: url('./assets/gif/chart-one.gif');
    background-size: cover;
    height: 250px;
    width: 100%;
}

.gif-two{
    background: url('./assets/gif/charts.gif');
    background-size: cover;
    height: 400px;
    width: 100%;
}


/* SECTION TWO STYLING */

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}


.gif-three{
    background: url('./assets/gif/contact.gif');
    background-size: cover;
    height: 400px;
    width: 100%;
    background-position: center right;
}

.sec-three-last-h1{
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-size: 4rem;
}

.sec-three-first-h1{
    font-family: 'my desh matra';
    font-weight: 600;
    font-size: 3.5rem;
    margin: 0.5em 0 0.5em 0;
    font-style: normal;
    color: black;
}

/* FOOTER STYLING */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    border-top: 1px solid black;
}

.footer>img{
    object-fit: cover;
    width: 60%;
    display: block;
    height: 50px;
    margin-top: 0.25em;
}

/* COMMON SUB STYLING */

.header-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-sub > img{
    object-fit: cover;
    width: 60%;
    display: block;
    height: 50px;
    margin-top: 2em;
}

.header-sub > h1{
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.2em;
}

/* KHATA STYLING */

.sub-section-one{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-top: 2px solid black;
    width: 100%;
}

.sub-section-one > h2{
    font-size: 2.25rem;
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.sub-section-one > h3{
    font-size: 4rem;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.sub-section-two{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border: 2px solid black;
    width: 100%;
}

table{
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

th,td{
    border: 1px solid black;
}

/* AADAN STYLING */

.sub-section-aadan{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-top: 2px solid black;
    width: 100%;
}

.sub-section-aadan > h2{
    font-size: 2.25rem;
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.25em;
}

.sub-section-aadan > input{
    font-size: 4rem;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    width: 97.98%;
}

.sub-section-aadan > button{
    font-size: 2.25rem;
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin-top: 0.75em;
    padding: 0.5em;
}


/* JANKARI STYLING */

.sub-section-jankari{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-top: 2px solid black;
    width: 100%;
}

.get-jankari{
    font-size: 3.5rem;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 97.98%;
    margin-top: 0.5em;
}

.sub-section-jankari > button{
    font-size: 2.25rem;
    font-family: "Mali", cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin-top: 0.75em;
    padding: 0.25em;
}